C0LLER_1004/C0LLER_orarend.dtd

<!ELEMENT C0LLER_orarend (ora)>
<!ELEMENT ora (targy+,idopont+,helyszin+,oktato+,szak+)>
<!ATTLIST ora id NTOKEN #REQUIRED tipus (elmelet|gyakorlat) "elmelet">

<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap+, tol+, ig+)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>